mixin types__table_1(cell1, cell2, cell3, cell4, cell5, cell6, cell8, cell9, cell10, cell11, cell12, cell14, cell15, cell16, cell17, cell18, cell20, cell21, cell22, cell23, cell24, cell26, cell27, cell28, cell29, cell30, cell32, cell33, cell34, cell35, cell36, cell38, cell39, cell40, cell41, cell42, cell44, cell45, cell46, cell47, cell48)
    .types__table.types__table_1
        .types__table-cell.types__table-cell_1 #{cell1}, м*м
        .types__table-cell.types__table-cell_1=cell2
        .types__table-cell.types__table-cell_1=cell3
        .types__table-cell.types__table-cell_1=cell4
        .types__table-cell.types__table-cell_1=cell5
        .types__table-cell.types__table-cell_1=cell6
        .types__table-cell.types__table-cell_1.types__table-cell_center 6х6
        .types__table-cell.types__table-cell_1 #{cell8} т.р.
        .types__table-cell.types__table-cell_1 #{cell9} т.р.
        .types__table-cell.types__table-cell_1 #{cell10} т.р.
        .types__table-cell.types__table-cell_1 #{cell11} т.р.
        .types__table-cell.types__table-cell_1 #{cell12} т.р.
        .types__table-cell.types__table-cell_1.types__table-cell_center 6x8
        .types__table-cell.types__table-cell_1 #{cell14} т.р.
        .types__table-cell.types__table-cell_1 #{cell15} т.р.
        .types__table-cell.types__table-cell_1 #{cell16} т.р.
        .types__table-cell.types__table-cell_1 #{cell17} т.р.
        .types__table-cell.types__table-cell_1 #{cell18} т.р.
        .types__table-cell.types__table-cell_1.types__table-cell_center 8x8
        .types__table-cell.types__table-cell_1 #{cell20} т.р.
        .types__table-cell.types__table-cell_1 #{cell21} т.р.
        .types__table-cell.types__table-cell_1 #{cell22} т.р.
        .types__table-cell.types__table-cell_1 #{cell23} т.р.
        .types__table-cell.types__table-cell_1 #{cell24} т.р.
        .types__table-cell.types__table-cell_1.types__table-cell_center 8x10
        .types__table-cell.types__table-cell_1 #{cell26} т.р.
        .types__table-cell.types__table-cell_1 #{cell27} т.р.
        .types__table-cell.types__table-cell_1 #{cell28} т.р.
        .types__table-cell.types__table-cell_1 #{cell29} т.р.
        .types__table-cell.types__table-cell_1 #{cell30} т.р.
        .types__table-cell.types__table-cell_1.types__table-cell_center 10x10
        .types__table-cell.types__table-cell_1 #{cell32} т.р.
        .types__table-cell.types__table-cell_1 #{cell33} т.р.
        .types__table-cell.types__table-cell_1 #{cell34} т.р.
        .types__table-cell.types__table-cell_1 #{cell35} т.р.
        .types__table-cell.types__table-cell_1 #{cell36} т.р.
        .types__table-cell.types__table-cell_1.types__table-cell_center 10x12
        .types__table-cell.types__table-cell_1 #{cell38} т.р.
        .types__table-cell.types__table-cell_1 #{cell39} т.р.
        .types__table-cell.types__table-cell_1 #{cell40} т.р.
        .types__table-cell.types__table-cell_1 #{cell41} т.р.
        .types__table-cell.types__table-cell_1 #{cell42} т.р.
        .types__table-cell.types__table-cell_1.types__table-cell_center 12x12
        .types__table-cell.types__table-cell_1 #{cell44} т.р.
        .types__table-cell.types__table-cell_1 #{cell45} т.р.
        .types__table-cell.types__table-cell_1 #{cell46} т.р.
        .types__table-cell.types__table-cell_1 #{cell47} т.р.
        .types__table-cell.types__table-cell_1 #{cell48} т.р.

mixin types__table_2()
    .types__table.types__table_2
        .types__table-cell.types__table-cell_21 Верхняя лента, м*м
        .types__table-cell.types__table-cell_22 d=300мм(диаметр столба) h=300мм(высота ленты) b=300мм(ширина ленты)
        .types__table-cell.types__table-cell_22 d=400мм(диаметр столба) d=400мм(высота ленты) d=400мм(ширина ленты)
        .types__table-cell.types__table-cell_21.types__table-cell_center 6х6
        .types__table-cell.types__table-cell_22 158 т.р.
        .types__table-cell.types__table-cell_22 167 т.р.
        .types__table-cell.types__table-cell_21.types__table-cell_center 6x8
        .types__table-cell.types__table-cell_22 165 т.р.
        .types__table-cell.types__table-cell_22 188 т.р.
        .types__table-cell.types__table-cell_21.types__table-cell_center 8x8
        .types__table-cell.types__table-cell_22 181 т.р.
        .types__table-cell.types__table-cell_22 209 т.р.
        .types__table-cell.types__table-cell_21.types__table-cell_center 8x10
        .types__table-cell.types__table-cell_22 202 т.р.
        .types__table-cell.types__table-cell_22 229 т.р.
        .types__table-cell.types__table-cell_21.types__table-cell_center 10x10
        .types__table-cell.types__table-cell_22 215 т.р.
        .types__table-cell.types__table-cell_22 248 т.р.
        .types__table-cell.types__table-cell_21.types__table-cell_center 10x12
        .types__table-cell.types__table-cell_22 233 т.р.
        .types__table-cell.types__table-cell_22 269 т.р.
        .types__table-cell.types__table-cell_21.types__table-cell_center 12x12
        .types__table-cell.types__table-cell_22 255 т.р.
        .types__table-cell.types__table-cell_22 287 т.р.

mixin types__table_3()
    .types__table.types__table_3
        .types__table-cell.types__table-cell_3 Размер дома, м*м
        .types__table-cell.types__table-cell_3 Высота стен 2500 мм
        .types__table-cell.types__table-cell_3 Высота стен 2800 мм
        .types__table-cell.types__table-cell_3 Высота стен 3000 мм
        .types__table-cell.types__table-cell_3.types__table-cell_center 6х6
        .types__table-cell.types__table-cell_3 960 т.р.
        .types__table-cell.types__table-cell_3 985 т.р.
        .types__table-cell.types__table-cell_3 1030 т.р.
        .types__table-cell.types__table-cell_3.types__table-cell_center 6x8
        .types__table-cell.types__table-cell_3 1100 т.р.
        .types__table-cell.types__table-cell_3 1135 т.р.
        .types__table-cell.types__table-cell_3 1180 т.р.
        .types__table-cell.types__table-cell_3.types__table-cell_center 8x8
        .types__table-cell.types__table-cell_3 1215 т.р.
        .types__table-cell.types__table-cell_3 1235 т.р.
        .types__table-cell.types__table-cell_3 1270 т.р.
        .types__table-cell.types__table-cell_3.types__table-cell_center 8x10
        .types__table-cell.types__table-cell_3 1320 т.р.
        .types__table-cell.types__table-cell_3 1380 т.р.
        .types__table-cell.types__table-cell_3 1425 т.р.
        .types__table-cell.types__table-cell_3.types__table-cell_center 10x10
        .types__table-cell.types__table-cell_3 1585 т.р.
        .types__table-cell.types__table-cell_3 1640 т.р.
        .types__table-cell.types__table-cell_3 1690 т.р.
        .types__table-cell.types__table-cell_3.types__table-cell_center 10x12
        .types__table-cell.types__table-cell_3 1990 т.р.
        .types__table-cell.types__table-cell_3 2090 т.р.
        .types__table-cell.types__table-cell_3 2160 т.р.
        .types__table-cell.types__table-cell_3.types__table-cell_center 12x12
        .types__table-cell.types__table-cell_3 2300 т.р.
        .types__table-cell.types__table-cell_3 2380 т.р.
        .types__table-cell.types__table-cell_3 2430 т.р.

mixin types__table_4()
    .types__table.types__table_4
        .types__table-cell.types__table-cell_41 Размеры фундамента
        .types__table-cell.types__table-cell_42 Цена
        .types__table-cell.types__table-cell_41 плита 6х6х0,2 м  ростверк 30 м.п., 0,3х0,3 м (ш*в)
        .types__table-cell.types__table-cell_42 214 т.р.
        .types__table-cell.types__table-cell_41 плита 6х8х0,2 м  ростверк 36 м.п., 0,3х0,3 м (ш*в)
        .types__table-cell.types__table-cell_42 245 т.р.
        .types__table-cell.types__table-cell_41 плита 8х8х0,2 м  ростверк 48 м.п., 0,3х0,3 м (ш*в)
        .types__table-cell.types__table-cell_42 305 т.р.
        .types__table-cell.types__table-cell_41 плита 8х10х0,2 м  ростверк 62 м.п., 0,3х0,3 м (ш*в)
        .types__table-cell.types__table-cell_42 362 т.р.
        .types__table-cell.types__table-cell_41 плита 10х10х0,2 м  ростверк 80 м.п., 0,3х0,3 м (ш*в)
        .types__table-cell.types__table-cell_42 488 т.р.
        .types__table-cell.types__table-cell_41 плита 10х12х0,2 м  ростверк 88 м.п., 0,3х0,3 м (ш*в)
        .types__table-cell.types__table-cell_42 558 т.р.
        .types__table-cell.types__table-cell_41 плита 12х12х0,2 м  ростверк 108 м.п., 0,3х0,3 м (ш*в)
        .types__table-cell.types__table-cell_42 682 т.р.

mixin types__item(src, title, descr1, descr2, descr3, table_type, cell1, cell2, cell3, cell4, cell5, cell6, cell8, cell9, cell10, cell11, cell12, cell14, cell15, cell16, cell17, cell18, cell20, cell21, cell22, cell23, cell24, cell26, cell27, cell28, cell29, cell30, cell32, cell33, cell34, cell35, cell36, cell38, cell39, cell40, cell41, cell42, cell44, cell45, cell46, cell47, cell48)
    .types__item
        img(src=src, alt="type").types__item-img
        .types__item-title=title
        .types__subitem.types__subitem_1
            .types__subitem-title Назначение:
            .types__subitem-descr=descr1
        .types__subitem
            .types__subitem-title Материалы:
            .types__subitem-descr=descr2
        .types__subitem
            .types__subitem-title Сроки:
            .types__subitem-descr=descr3
        if (table_type == 1)
            +types__table_1(cell1, cell2, cell3, cell4, cell5, cell6, cell8, cell9, cell10, cell11, cell12, cell14, cell15, cell16, cell17, cell18, cell20, cell21, cell22, cell23, cell24, cell26, cell27, cell28, cell29, cell30, cell32, cell33, cell34, cell35, cell36, cell38, cell39, cell40, cell41, cell42, cell44, cell45, cell46, cell47, cell48)
        if (table_type == 2)
            +types__table_2()
        if (table_type == 3)
            +types__table_3()
        if (table_type == 4)
            +types__table_4()
        .types__item-subtitle Примерная стоимость с материалом
        .types__item-text (Окончательную стоимость мы сможем озвучить только после замера)
        button(type="submit").button.button_types.show-modal-call Получить смету и расчет
